h1 {
  text-align: center;
}

#userTableContainer {
  width: 700px;
  margin: auto;
}

#userTable {
  margin: auto;
}
table {
  width: 1000px;
}
#userTable td {
  width: 100px;
}

.buttonContainer {
  text-align: center;
}
