@keyframes circle {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

body > div {
    width:200px;
    height:200px;
    margin: 20px auto 0;
    color:orange;
    font-size:100px;
    line-height:1;
    animation: circle 5s linear infinite;
    transform-origin:50% 200px;
}
